.sidebar-container{
   
    height: calc(100vh - 62px);
     background-color: #022c7b;  /*#f3f6fd*/
     color: #ffff;
     
   
 }
 .main-container{
     background-color:#ffff;
     border-radius: 20px;
    
 }